<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <form action="{{ path('create_product')}}" >
            <input type="text" name="name"/>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
